@tailwind base;
@tailwind components;
@tailwind utilities;


body{
   @apply h-screen
    /* bg-gray-100 */
}

@layer base{
   h1{
      @apply text-3xl;
   }
   h2{
      @apply text-2xl;
   }
}

.table-container{
   @apply w-full sm:overflow-scroll 
}

.page-item{
   @apply bg-white rounded  p-5 shadow-md
}

.menu-icon{
   @apply   m-auto text-icon block text-slate-400 !important
}
.input-text:focus ~ label,
.input-text:not(:placeholder-shown).input-text:not(:focus) ~ label {
   @apply  -top-3 left-5  bg-white text-base
}

.font-blue-linear {
   background-color: blue;
   background: linear-gradient(89.75deg, #425EEE 0%, #6F80D8 49.97%, #081553 98.92%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;   
}


.bg-blue-linear{
   background: linear-gradient(112.87deg, #FFFFFF 0%, rgba(173, 186, 255, 0.552083) 55.73%, rgba(37, 68, 231, 0) 100%);
}
