.primary-nav{
    width: 40%;
}

.burger-menu{
    display: none;
}

.burger-bar {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: .3s;
}

.burger-menu.active .burger-bar:nth-child(2){
    opacity: 0;
}

.burger-menu.active .burger-bar:first-child{
    transform: translateY(10px) rotate(45deg);
}
.burger-menu.active .burger-bar:last-child{
    transform: translateY(-10px) rotate(-45deg);
}





@media (max-width: 767px) {
    .primary-nav{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100vw;
        height: 100vh;
        background-color: #1E2A3B;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 3rem;
        gap: 2.5rem;
        transition: .3s;

    }

    .primary-nav.active{
        right: 0;
    }

    .burger-menu{
        width: 50px;
        height: 50px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }


}